<div class="col-12">
    <div>
        <mat-card>
            <mat-card-content>
                <div class="text-center">
                    <h2 style="font-weight:bolder;"> Set new Password</h2>
                    <h3 style="font-weight: 500;" class="text-capitalize"> Your new password must be different and must be different from the previously used password. </h3>
                </div>
                <form class="form ps-2 pe-2" [formGroup]="verficationForm">
                    <!-- <mat-form-field class="w-100">
                        <mat-label>Old Password</mat-label>
                        <mat-icon matPrefix color="primary">lock</mat-icon>
                        <mat-icon matSuffix (click)="oldPasswordVisibility()"> {{oldPassword?'visibility_off':'visibility'}}</mat-icon>
                        <input matInput type="password" placeholder="Old Password" formControlName="oldpassword" required [type]="oldPassword ? 'text' : 'password'">
                        
                        <mat-error *ngIf="verficationForm.get('oldpassword')?.hasError('required')">Old password is required.</mat-error>
                    </mat-form-field> -->
                    <mat-form-field class="w-100">
                        <mat-label>New Password</mat-label>
                        <mat-icon matPrefix color="primary">lock</mat-icon>
                        <mat-icon matSuffix (click)="newPasswordVisibility()"> {{newPassword?'visibility_off':'visibility'}}</mat-icon>
                        <input matInput type="password" placeholder="New Password" formControlName="newpassword" required [type]="newPassword ? 'text' : 'password'">
                        <!-- Error messages -->
                        <mat-error *ngIf="verficationForm.get('newpassword')?.hasError('required')">New password is required.</mat-error>
                        <mat-error *ngIf="verficationForm.get('newpassword')?.hasError('pattern')">Password should be at least 6 characters long and must include a numeric value, a capital letter, and a special character.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <mat-icon matPrefix color="primary">lock</mat-icon>
                        <mat-icon matSuffix (click)="cnfPasswordVisibility()"> {{cnfPassword?'visibility_off':'visibility'}}</mat-icon>
                        <input matInput type="password" placeholder="Confirm Password" formControlName="conformpassword" required [type]="cnfPassword ? 'text' : 'password'">
                        <!-- Error messages -->
                        <mat-error *ngIf="verficationForm.get('conformpassword')?.hasError('required')"> Confirm password is required.</mat-error>
                        <mat-error *ngIf="verficationForm.get('conformpassword')?.hasError('passwordMismatch')">Passwords do not match.</mat-error>
                    </mat-form-field>
                </form>
                <div class="text-center">
                    <button mat-button class="btn" color="primary" (click)="submit()" [disabled]="verficationForm.invalid">Submit</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
