<div class="center-component m-0 p-0">
    <div class="border-bottom">
        <h2 class="text-primary">
            <span *ngIf="user.mode!=='A'">User Details</span>
            <span *ngIf="user.mode==='A'">Add New User</span>
        </h2>
        <button mat-icon-button color="accent" class="close-btn" (click)="close($event)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="p-3">
        <form [formGroup]="userForm" #desigForm="ngForm">

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Profile</mat-label>
                        <mat-select placeholder="Profile" [disabled]="user.mode==='V'" formControlName="profile"
                            name="profile">
                            <mat-option value="option1" *ngFor="let p of profiles" [value]="p">{{p}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="user.mode==='A'">
                    <mat-form-field  class="full-width">
                        <mat-label>Institute</mat-label>
                        <mat-select placeholder="Profile" formControlName="inst" name="inst">
                            <mat-option value="option1" *ngFor="let p of institutes" [value]="p">{{p}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="user.mode!=='A'">
                    <mat-form-field  class="full-width">
                        <mat-label>User ID</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="User ID" readonly="true"
                            formControlName="id" name="id">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="First Name"
                            [readonly]="user.mode==='V'" formControlName="firstName" name="firstName">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Last Name"
                            [readonly]="user.mode==='V'" formControlName="lastName" name="lastName">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Employee Code</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Emp Code" readonly="true"
                            formControlName="empCode" name="empCode">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>DOB (MM/DD/YYYY)</mat-label>
                        <input matInput [matDatepicker]="dob" formControlName="dob" name="dob">
                        <mat-icon matSuffix (click)="dob.open()">calendar_month</mat-icon>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Mobile</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Mobile" [readonly]="user.mode==='V'"
                            formControlName="mobile" name="mobile">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Email ID</mat-label>
                        <input type="email" matInput autocomplete="off" placeholder="Email ID" [readonly]="user.mode==='V'"
                            formControlName="email" name="email">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Address" [readonly]="user.mode==='V'"
                            formControlName="address" name="address">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Company</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Company" [readonly]="user.mode==='V'"
                            formControlName="company" name="company">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <mat-form-field  class="full-width">
                        <mat-label>Branch</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="Branch" [readonly]="user.mode==='V'"
                            formControlName="branch" name="branch">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="user.mode!=='A'">
                    <mat-form-field  class="full-width">
                        <mat-label>Status</mat-label>
                        <input type="text" matInput autocomplete="off" placeholder="status" readonly="true"
                            formControlName="status" name="status">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <br><br>
        <div class="text-end" *ngIf="user.mode!=='V'">
            <button type="button" mat-flat-button color="accent" (click)="close($event)">
                <mat-icon>highlight_off</mat-icon>  Cancel
            </button> &nbsp;
            <button mat-flat-button color="primary" type="submit">
                <mat-icon>check_circle_outline</mat-icon> Proceed 
            </button>
        </div>
    </div>
</div>