.spacer {
    flex: 1 1 auto;
}

.nav-item {
    cursor: pointer;
}

.right-stick-box {
    position: relative;
    padding-right: 16px;
}

.right-stick {
    position: absolute;
    right: 10px;
    top: 5px;
}

.drag-drop-box {
    min-height: 220px;
    width: 100%;
    border: 1px dashed #ccc;
    text-align: center;
    cursor: pointer;

    div {
        margin-top: 80px;
    }
}



.img-box {
    min-height: 220px;
    min-width: 220px;
    width: 100% !important;
    border: 1px dotted black;
    margin: auto;
}

.img-placeholder {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.input_container {
    border: 1px solid #e5e5e5;
    margin: 30px;
}

input[type="file"]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
}



.image {
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center
    
}

.src{
    width: max-content;
    height: 220px;
    
}
.pic-div {
    min-width: 500px;
}