.center {
  width: 100%;
  text-align: center;
}
.icon {
  height: 60px;
}
.mat-mdc-card-title {
  margin-top: 0px !important;
  font-size: xx-large !important;
}

.user-idle-alert {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}