<div>
  <div *ngIf="getmessage$ | async as notifications; else noNotifications" class="p-3 notification-container ">
    <!-- Today's Notifications -->
    <ng-container *ngIf="todayNotifications.length > 0; else noTodayNotifications">
      <h3>Today</h3>
      <div class="notification-list">
        <div *ngFor="let i of todayNotifications" class="notification-item" (click)="getdata(i)">
          <div [style.background-color]="'#' + getColor(i?.title)" class="avatar bg-primary text-white rounded-circle">
            {{ getInitial(i?.title) }}</div>
          <div class="notification-content">
            <h4 class="mb-1 title-font">{{ i?.title }}</h4>
            <!-- <p class="mb-1 body-font">{{ i?.body }}</p> -->
            <span>
              <p class="mb-1 body-font">{{ i?.body }} <small class="mb-0 timestamp-font" align="end"
                  style="float: right;"> {{ i?.timestamp }}</small></p>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

   

    <!-- Yesterday's Notifications -->
    <ng-container *ngIf="yesterdayNotifications.length > 0; else noYesterdayNotifications">
      <!-- <h3>{{ (today | date:'EEE') + ' Yesterday' }}</h3> -->
      <h3>Yesterday</h3>
      <div class="notification-list">
        <div *ngFor="let i of yesterdayNotifications" class="notification-item" (click)="getdata(i)">
          <div [style.background-color]="'#' + getColor(i?.title)" class="avatar text-white rounded-circle">{{
            getInitial(i?.title) }}</div>
          <div class="notification-content">
            <h4 class="mb-1 title-font">{{ i?.title }}</h4>
            <span>
              <p class="mb-1 body-font">{{ i?.body }} <small class="mb-0 timestamp-font" align="end"
                  style="float: right;"> {{ i?.timestamp }}</small></p>
            </span>
          </div>
        </div>
      </div>
    </ng-container> 
  </div>
  <mat-dialog-actions align="center">
    <button mat-button (click)="showViewMore()" color="accent" cdkFocusInitial [mat-dialog-close]="true"
      class="view-more-button">See
      all recent activity </button>
  </mat-dialog-actions>
</div>

<!-- No Notifications Message -->
<ng-template #noNotifications>
  <p>No notifications available.</p>
</ng-template>
 <!-- Today's No Notifications Message -->
 <ng-template #noYesterdayNotifications >
  <mat-divider class="mt-3"></mat-divider>
  <p class="text-center p-2">No notifications available for Yesterday .</p>
</ng-template>
 <!-- Today's No Notifications Message -->
 <ng-template #noTodayNotifications>
  <mat-divider class="mt-3"></mat-divider>
  <p class="text-center p-2">No notifications available for Today .</p>
</ng-template>