form {
    // background-color: #f9f9f9;
    padding: 20px;
  }
  

  
  .success-message {
    background-color: #e6ffe6;
    color: #006600;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

