:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    min-width: 300px;
    max-width: 400px;
}

.right-panel {
    min-width: 500px !important;
    max-width: 600px !important;
}

.margin-left {
    margin-left: 300px;
}

mat-drawer-container {
    min-height: calc(100vh - 64px);
}

mat-drawer-content {
    max-height: calc(100vh - 64px);
    max-height: 88vh;
    overflow-y: scroll;
}

::ng-deep .mat-drawer-inner-container {
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-image: url(../../assets/imgs/bg2.jpg);
 
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.date-hour-content {
    background: #3f51b538;
    text-align: center;
    padding: 10px 0;
}

.profile-card {
    max-height: 100px ̑;
}

