<!-- <div *ngIf="message;">
    <h1>{{ message.notification.title }}</h1>
    <h2>{{ message.notification.body }}</h2>
</div>
<div *ngIf="!message;">
    No Message Arrived
</div> -->

<app-loading></app-loading>

<router-outlet></router-outlet>

<!-- app.component.html -->

<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->

<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [(ngModel)]="Editor"></ckeditor> -->
<!-- <button (click)="getDataFromCKEditor()">Get Data</button>
{{editorData|json}} -->

<!-- 
<h5 class="mt-1">HTML Content</h5>
<div [innerHTML]="Editor" *ngIf="Editor.length>0"></div> -->