.not-found-bg {
    width: 100% !important;
    text-align: center;
    .not-found {
        height: 350px;
        width: 350px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top:20vh;
    }
}