<div class="p-3 bg1"  *ngIf="parentdiv">
  <div class="dashboard">
    <h1 class="m1-0"> <strong>Attendance Dashboard</strong> </h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card birthday-card">
          <div class="right">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="card-body">
            <h2 class="card-title">In Office <span>| Today</span></h2>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <mat-icon>perm_contact_calendar</mat-icon>
              </div>
              <div class="ps-3">
                <h1 class="count-title mb-0">{{circlechart?.attendanceStatus?.present?.count || 0}}</h1>
                <!-- <span class="text-muted small pt-2 ps-1">Suryakant, Ritunjay and </span> -->
                <!-- <span class="text-primary small pt-1 fw-bold detail">Team wise detail.</span> -->
                <button mat-button [matMenuTriggerFor]="teamMenu" class="text-primary small pt-1 fw-bold detail"
                  (click)="teamwisedata('PRESENT')">Team Details</button>
                <mat-menu #teamMenu="matMenu">
                  <table matTableResponsive mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="teamName">
                      <th mat-header-cell *matHeaderCellDef>Team wise detail.</th>
                      <td mat-cell *matCellDef="let team">{{ team.teamName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Total</th>
                      <td mat-cell *matCellDef="let team">{{ team.total }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2 sticky: true"></tr>
                    <tr mat-row *matRowDef="let team; columns: displayedColumns2;"></tr>
                  </table>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card revenue-card">
          <div class="right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="hiddenddiv()">
                <mat-icon><span class="material-symbols-outlined">
                    list_alt
                  </span></mat-icon>
                <span>Wfm detailed list</span>
              </button>
            </mat-menu>
          </div>
          <div class="card-body">
            <h2 class="card-title">Work From Home<span>| Today</span></h2>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <mat-icon>home_work</mat-icon>
              </div>
              <div class="ps-3">
                <h1 class="count-title mb-0">{{circlechart?.attendanceStatus?.wfh?.count || 0}}</h1>
                <button mat-button [matMenuTriggerFor]="teamMenu" class="text-primary small pt-1 fw-bold detail"
                  (click)="teamwisedata('WFH')">Team Details</button>
                <mat-menu #teamMenu="matMenu">
                  <table matTableResponsive mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="teamName">
                      <th mat-header-cell *matHeaderCellDef>Team wise detail.</th>
                      <td mat-cell *matCellDef="let team">{{ team.teamName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Total</th>
                      <td mat-cell *matCellDef="let team">{{ team.total }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2 sticky: true"></tr>
                    <tr mat-row *matRowDef="let team; columns: displayedColumns2;"></tr>
                  </table>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card customers-card">
          <div class="right">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="card-body">
            <h2 class="card-title">On Leave <span>| Today</span></h2>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <mat-icon>badge</mat-icon>
              </div>
              <div class="ps-3">
                <h1 class="count-title mb-0">{{circlechart?.attendanceStatus?.leave?.count || 0}}</h1>
                <!-- <span class="text-danger small pt-1 fw-bold"> See More..</span> -->
                <button mat-button [matMenuTriggerFor]="teamMenu" class="text-primary small pt-1 fw-bold detail"
                  (click)="teamwisedata('LEAVE')">Team Details</button>
                <mat-menu #teamMenu="matMenu">
                  <table matTableResponsive mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="teamName">
                      <th mat-header-cell *matHeaderCellDef>Team wise detail.</th>
                      <td mat-cell *matCellDef="let team">{{ team.teamName }}</td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef>Total</th>
                      <td mat-cell *matCellDef="let team">{{ team.total }}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2 sticky: true"></tr>
                    <tr mat-row *matRowDef="let team; columns: displayedColumns2;"></tr>
                  </table>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-3 pt-3">
      <div class="col-lg-8 col-md-12">
        <div class="card card-body">
          <h4>Employee Chart <span class="muted-text"> | Today</span></h4>
          <div id="chart"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card card-body">
          <h4>Team Strength Chart<span class="muted-text"> | Today</span></h4>
          <div id="teamStrength"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="card top-selling overflow-auto">
          <div class="right">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title mb-3">New Joinee Status <span>| {{month}}</span></h5>
            <table matTableResponsive mat-table [dataSource]="dataSource1">
              <ng-container matColumnDef="sno" class="text-start">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>
              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef>Emp Name</th>
                <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
              </ng-container>
              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef>Team</th>
                <td mat-cell *matCellDef="let element">{{ element.teamName }}</td>
              </ng-container>
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef>Designation</th>
                <td mat-cell *matCellDef="let element">{{ element.designationName }}</td>
              </ng-container>
              <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef>Experience</th>
                <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
              </ng-container>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns1.length">
                  No Data Found!
                </td>
              </tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns1 sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-12">
        <div class="card top-selling overflow-auto">
          <div class="right">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title mb-2">Employee Status <span>| Today</span></h5>
             <table matTableResponsive class="table mt-3" mat-table [dataSource]="dataSource">
         
              <ng-container matColumnDef="sno" class="text-start">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>

              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef>Team</th>
                <td mat-cell *matCellDef="let element" class="text-primary fw-bold">{{ element.teamName }}</td>
              </ng-container>

              <ng-container matColumnDef="present">
                <th mat-header-cell *matHeaderCellDef>Present</th>
                <td mat-cell *matCellDef="let element" class="fw-bold text-success">{{ element.present }}</td>
              </ng-container>

              <ng-container matColumnDef="wfh">
                <th mat-header-cell *matHeaderCellDef>WFH</th>
                <td mat-cell *matCellDef="let element" class="fw-bold text-primary">{{ element.wfh }}</td>
              </ng-container>

              <ng-container matColumnDef="leave">
                <th mat-header-cell *matHeaderCellDef>Leave</th>
                <td mat-cell *matCellDef="let element" class="fw-bold text-danger">{{ element.leave }}</td>
              </ng-container>

        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card top-selling overflow-auto">
          <div class="right">
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title mb-3">New Joinee Status <span>| April 2023</span></h5>
             <table matTableResponsive mat-table [dataSource]="dataSource1">

              <ng-container matColumnDef="sno" class="text-start">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let element; let i = index" class="fw-bold">{{ i + 1 }}</td>
              </ng-container>

              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                <td mat-cell *matCellDef="let element" class="text-primary fw-bold">{{ element.employeeName }}</td>
              </ng-container>

              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef>Team</th>
                <td mat-cell *matCellDef="let element" class="fw-bold">{{ element.teamName }}</td>
              </ng-container>

              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef>Designation</th>
                <td mat-cell *matCellDef="let element" class="fw-bold">{{ element.designationName }}</td>
              </ng-container>

              <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef>Experience</th>
                <td mat-cell *matCellDef="let element" class="fw-bold">{{ element.experience }}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>

          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<app-wfmlist [showTable]="showEmployeeTable" (closeTable)="onCloseTable()"></app-wfmlist>