.feedback-card {
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .feedback-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  button {
    margin-left: 10px;
  }
  