<main id="main">
	  
  <!-- ======= About Section ======= -->
<section2 id="about" class="about">
<div class="container aos-init aos-animate" data-aos="fade-up">

  <div class="section2-title">
    <h2>About</h2>
    <p>HMA Group</p>
  </div>

  <div class="row content">
    <div class="col-lg-8">
      <p>HMA Group, is one of the most reputed &amp; respected business conglomerate, possessing over 35 years of domain knowledge in offering state-of-the-art retail banking solutions.</p>
  <p>Having focused over 35 years on the Retail Banking Sector, the group with a vision to expand the business of providing most efficient &amp; customer-centric services, expanded into banking, development and promotion of Payment &amp; Card Solutions for global requirements.</p>
  <p>Today, the HMA Group, comprising of four companies, with its strong team of highly motivated professionals, operates in the vast arena of retail banking &amp; realty, serves more than 150+ clients, in more than 850+ cities within India and is a dominant player in South East Asia, Nepal, Bangladesh, Sri Lanka, Middle East &amp; Africa.</p>
    </div>

    <div class="col-lg-4 pt-4 pt-lg-0">
  <div class="newquote">
    
    <p>
      <picture>
           <source srcset="assets/img/hma-group-logo.webp" type="image/webp">
        <source srcset="assets/img/hma-group-logo.png" type="image/png">
      <img src="assets/img/hma-group-logo.png" alt="hma-group-logo">
      </picture>	  
    </p>

  <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The group has the honor of being the only corporate to have introduced the <strong>“ATM Revolution in India”</strong> and bring in the concept of <strong>“Outsourcing” to the Banking Industry.</strong>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
    
   <!--<h1 class="logo" align="center"><a href="index.html"><img src="assets/img/payment-logo.png" style="max-width: 50%" alt="CashLink Logo"></a></h1>-->


<!--            <a href="#" class="btn-learn-more">Learn More</a>-->
 </div>
    </div>


  </div>

</div>
</section2><!-- End About Section -->

</main>