<div class="cgs-container">
    <div class="c-card border">
        <mat-toolbar class="bg-white text-primary border-bottom">
            <mat-icon>contact_emergency</mat-icon>
            <span class="c-font ps-2">Permission</span>
        </mat-toolbar>
        <div class="bg-white p-2">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 text-primary">
                    <!-- <mat-form-field class="full-width"  >
                        <mat-label>Teams</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let r of teamsList" [value]="r.deptId">
                                {{r.deptName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="full-width">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="filterUser($event)" placeholder="Ex. Surya" #input>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-end"></div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-end">
                    <!-- <mat-form-field class="full-width">
                            <mat-label>Filter</mat-label>
                            <mat-select disableRipple class="full-width">
                              <mat-option value="1">Today </mat-option>
                              <mat-option value="2">Yesterday/last one week </mat-option>
                              <mat-option value="3">Custom Date</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                </div>
                <div class="mat-elevation-z1 responsive-table">
                     <table matTableResponsive class="full-width" mat-table [dataSource]="dataSource" matSort id="pdftable" #mytable>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.empid}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>

                        </ng-container>
                        <ng-container matColumnDef="team">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
                            <td mat-cell *matCellDef="let row"> {{row.team}} </td>

                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile no </th>
                            <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>

                        </ng-container>
                        <ng-container matColumnDef="designation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
                            <td mat-cell *matCellDef="let row"> {{row.designation}} </td>

                        </ng-container>
                        <ng-container matColumnDef="logInTime">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Logged in Time </th>
                            <td mat-cell *matCellDef="let row"> {{row.logInTime}} </td>

                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button aria-label="View" color="primary"
                                    (click)="showDetails(row, 'V')">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <!-- <button mat-icon-button aria-label="Edit" class="text-secondary"
                                (click)="showDetails(row, 'E')">
                                <mat-icon>edit_note</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Delete" color="accent" (click)="downloadExcel()">
                                <mat-icon><span class="material-symbols-outlined">
                                    download_for_offline
                                    </span></mat-icon>
                            </button> -->

                            </td>


                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="empDetail sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: empDetail;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="12">No data founds! </td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="Select  departments"></mat-paginator>
                </div>
            </div>
        </div>
    </div>